<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

    <form action="#" th:action="${'../update/' + getUser.id} " th:object="${getUser}" method="post" >
        <label for="firstName" >Name</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="Name">
        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <label for="email" class="col-form-label">eMail</label>
        <input type="text" th:field="*{email}" id="email" placeholder="eMail">
        <label for="phoneNo" >Phone No</label>
        <input type="text" th:field="*{telephone}" id="phoneNo" placeholder="phoneNo">
        <input type="submit" value="Update">
        <a href="/users/">Go back</a>
    </form>
</body>
</html>