<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User page</title>
    </head>
    <body>
        <div>
            <!-- th:if="${not #lists.isEmpty(listUsers)}-->
            <div>
                <h2>All users</h2>
                <table border="1">
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>eMail</th>
                        <th>Telephone</th>
                        <th>Get user</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}">Id</td>
                        <td th:text="${user.firstName}">First Name</td>
                        <td th:text="${user.lastName}">Last Name</td>
                        <td th:text="${user.email}">eMail</td>
                        <td th:text="${user.telephone}">Telephone</td>
                        <td><a th:href="${'/users/get/' + user.id}">Get user</a></td>
                        <td><a th:href="${'/users/delete/' + user.id}">Delete</a></td>
                    </tr>
                </table>
                <a href="/users/save">New User</a>
            </div>
        </div>
    </body>
</html>